.events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--translucent-white);
}

.events__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color:var(--primary-color-change);
}

.events__list-item h2 {
    margin: 0;
    font-size: 1rem;
    color:var(--grey-color);
}

.events__list-item p {
    margin: 0;
}