:root {
    --primary-color: #588b8b;
    --primary-color-change: #7fb2b2;
    --secondary-color: #2E294E;
    --tertiary-color: #E0E2DB;
    --translucent-white: rgba(255, 255, 255, .7);
    --grey-color: rgb(138, 139, 139);

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.form-control label, 
.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
}
.form-control label {
    margin-bottom: .5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button,
.btn  {
    background-color: var(--primary-color);
    font: inherit;
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,.26);
    color: white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background-color: var(--primary-color-change);
}
